﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model CategoryModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        Update Category
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Update Category</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Update", "Category", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Update</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
