﻿@using Prj.Irun.BusinessLogic.Models;
@model IEnumerable<AdminCPFeatureModel>
@{
    List<AdminCPPermissionModel> listData = ViewBag.listData;
}
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th class="col-xs-1 text-center">
                <input type="checkbox" id="checkall" />
            </th>
            <th class="col-xs-1 text-center">STT</th>
            <th class="col-xs-1 text-center">Name</th>
            <th class="col-xs-1 text-center">Code</th>
            <th class="col-xs-1 text-center">Url</th>
            <th class="col-xs-1 text-center">ACTION</th>
        </tr>
        @{
            var countSTT = 0;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    countSTT++;
                    <tr>
                        <td class="text-center"><input type="checkbox" value="@item.Code" name="type" class="checkrecord" /></td>
                        <td>@countSTT</td>
                        <td><a href="@Url.Action("Update", new { id = @item.Id })">@item.Name</a></td>
                        <td align="center" class="center">@item.Code</td>
                        <td align="center" class="center">@item.Url</td>
                        <td align="center" width="100px">
                            <a class="fa fa-fw fa-edit" href="/Admin/AdminCPFeature/Update/@item.Id" title="Details"></a>
                            <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/AdminCPFeature/Delete?ID=' + @item.Id);" title="Delete"></a>
                        </td>
                    </tr>
                }
            }
        }
    </table>

    <div class="box-footer clearfix">
        @Html.Raw(ViewData["Page"])
    </div>
</div>

<script type="text/javascript">
    // check all checkbox
    $('#checkall').click(function () {
        $(':checkbox.checkrecord').prop('checked', this.checked);
    });
</script>

