﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AdminCPPermissionModel
@{
    List<AdminCpModel> listAdminCP = ViewBag.listServicesAdminCP;
    List<AdminCPFeatureModel> listAdminCPFeature = ViewBag.listServicesAdminCPFeature;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>AdminCPPermission</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">AdminCPPermission</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>FeatureCode</label>
                                    @{
                                        var dataAdminCPFeature = new List<SelectListItem>();
                                        foreach (var item in listAdminCPFeature)
                                        {
                                            dataAdminCPFeature.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString() });
                                        }
                                        dataAdminCPFeature.Insert(0, new SelectListItem { Text = "- Please select FeatureCode -", Value = "0" });
                                    }
                                    @Html.DropDownListFor(model => model.FeatureCode, new SelectList(dataAdminCPFeature, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>UserName</label>
                                    @{
                                        var dataAdminCp = new List<SelectListItem>();
                                        foreach (var item in listAdminCP)
                                        {
                                            dataAdminCp.Add(new SelectListItem { Text = item.UserName, Value = item.UserName.ToString() });
                                        }
                                        dataAdminCp.Insert(0, new SelectListItem { Text = "- Please select UserName -", Value = "0" });
                                    }
                                    @Html.DropDownListFor(model => model.UserName, new SelectList(dataAdminCp, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-warning" value="Add" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="binddata" class="row">
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    }
</section>

<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/AdminCPPermission/Add";
    });

    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/AdminCPPermission/Index");
        });
    }

    $('#checkall').click(function () {
        $(':checkbox.checkrecord').prop('checked', this.checked);
    });

    $('#FeatureCode').change(function () {
        var groupId = $('#FeatureCode').val();
        $.ajax({
            url: '/Admin/AdminCPPermission/GetFeatureByGroupId?groupId=' + groupId,
            dataType: "html",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $('#UserName').val('0');
                $("#binddata").html(data);
            },
            error: function (xhr) {
                alert('Server error !');
            }
        });
    });

    $('#UserName').change(function () {
        var accountId = $('#UserName').val();
        var param = '';
        var checkboxes = document.getElementsByName('type');
        $.ajax({
            url: '/Admin/AdminCPPermission/GetPermission/?userName=' + accountId,
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {

                if (data == 'empty') {
                    $(':checkbox.checkrecord').prop('checked', false);
                }
                else {
                    $(':checkbox.checkrecord').prop('checked', false);
                    var array = data.split(',');
                    array.forEach(function (entry) {
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (entry == checkboxes[i].value) {
                                checkboxes[i].checked = true;
                            }
                        }
                    });
                }
            },
            error: function (xhr) {
                alert('Server error !');
            }
        });
    });
</script>
