﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model SeasonModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Add Season
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Add Season</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Add", "Season", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label>RankingTypeID</label>
                                @Html.TextBoxFor(model => model.RankingTypeID, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.RankingTypeID)
                            </div>
                            <div class="form-group">
                                <label>StartDate</label>
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StartDate)
                            </div>
                            <div class="form-group">
                                <label>EndDate</label>
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EndDate)
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>() { new SelectListItem() { Text = "On", Value = "True" }, new SelectListItem() { Text = "Off", Value = "False" } }, new { @class = "form-control" })
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Add</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
