﻿@using Prj.Irun.Utilities;
@{
    Layout = null;
    string url = Request.RawUrl;
    string urlPass = Request.Url.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>IRUN- Control panel </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="/Library/Layout/Adm/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/Library/Layout/Adm/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="/Library/Layout/Adm/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="/Library/Layout/Adm/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="/Library/Layout/Adm/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="/Library/Layout/Adm/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="/Library/Layout/Adm/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="/Library/Layout/Adm/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="/Library/Layout/Adm/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap-dialog -->
    <link href="~/Library/Layout/Adm/plugins/bootstrap-dialog/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Library/Layout/Adm/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Library/Layout/Adm/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />

    <link href="~/Library/Layout/Adm/bootstrap/muntipleselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Jquery -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Library/Layout/Adm/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Library/Js/ValidateForm/jquery.validate.js"></script>
    <script src="~/Library/Js/ValidateForm/jquery.validate.unobtrusive.js"></script>
    <script src="~/Library/Js/Checkbox/jquery-3.3.1.js"></script>
    <script src="~/Library/Js/Checkbox/jquery-3.3.1.min.js"></script>
    <script src="~/Library/Layout/Adm/bootstrap/muntipleselect/bootstrap-multiselect.js"></script>
    <style type="text/css">
        .input-validation-error {
            border-color: red;
        }
    </style>
    <link href="~/Library/Css/Common.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Library/Common/js/Utility.js"></script>
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>IRUN</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>IRUN</b>.VN</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Library/Layout/Adm/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Library/Layout/Adm/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/Library/Layout/Adm/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Library/Layout/Adm/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <a href="/Admin/Authenticate/LogOut/"><i class="fa fa-circle text-success"></i> Log out</a>
                    </div>
                </div>

                <ul class="sidebar-menu">
                    <li class="header">CATEGORIES</li>
                    <li class="treeview @ConfigMenu.ActviedMenu("Permission", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Permission</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("AdminCPFeatureIndex", url)"><a href="/Admin/AdminCPFeature/Index"><i class="fa fa-circle-o"></i>Feature</a></li>
                            <li class="@ConfigMenu.ActviedMenu("AdminCPPermissionIndex", url)"><a href="/Admin/AdminPermission/Index"><i class="fa fa-circle-o"> Permission</i></a></li>

                        </ul>
                    </li>

                    <li class="treeview @ConfigMenu.ActviedMenu("AdminCP", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management AdminCP</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("AdminCPIndex", url)"><a href="/Admin/AdminCP/Index"><i class="fa fa-circle-o"></i>List AdminCP</a></li>
                            <li class="@ConfigMenu.ActviedMenu("AdminCPCreate", url)"><a href="/Admin/AdminCP/CreatedAdmin"><i class="fa fa-circle-o">  Created AdminCP</i></a></li>
                            <li class="@ConfigMenu.ActviedMenu("AdminCPChangePassword", url)"><a href="/Admin/AdminCP/ChangePassword"><i class="fa fa-circle-o"></i>Change Password</a></li>
                        </ul>
                    </li>
                    <li class="treeview @ConfigMenu.ActviedMenu("AccountInfo", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management AccountInfo</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("AccountInfoAccountIndex", url)"><a href="/Admin/AccountInfo/Index"><i class="fa fa-circle-o"></i>List Account</a></li>
                            <li class="@ConfigMenu.ActviedMenu("UserGiftIndex", url)"><a href="/Admin/UserGift/Index"><i class="fa fa-circle-o"></i>User Gift</a></li>

                        </ul>
                    </li>
                    <li class="treeview @ConfigMenu.ActviedMenu("Category", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Category</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("CategoryIndex", url)"><a href="/Admin/Category/Index"><i class="fa fa-circle-o"></i>Category </a></li>
                            <li class="@ConfigMenu.ActviedMenu("RewardItemCategoryIndex", url)"><a href="/Admin/RewardItemCategory/Index"><i class="fa fa-circle-o"></i>Reward Item Category</a></li>
                            <li class="@ConfigMenu.ActviedMenu("UserRewardItemTypeIndex", url)"><a href="/Admin/UserRewardItemType/Index"><i class="fa fa-circle-o"></i>User Reward Item Type</a></li>


                        </ul>
                    </li>

                    <li class="treeview @ConfigMenu.ActviedMenu("Gift", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Gift</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">

                            <li class="@ConfigMenu.ActviedMenu("GiftSystemGiftTypeIndex", url)"><a href="/Admin/SystemGiftType/Index"><i class="fa fa-circle-o"></i>System Gift Type</a></li>
                            <li class="@ConfigMenu.ActviedMenu("GiftGiftCreateCondTypeIndex", url)"><a href="/Admin/GiftCreateCondType/Index"><i class="fa fa-circle-o"></i>Gift Create Cond Type</a></li>
                            <li class="@ConfigMenu.ActviedMenu("GiftComponentTypeIndex", url)"><a href="/Admin/GiftComponentType/Index"><i class="fa fa-circle-o"></i>Gift Component Type</a></li>
                            <li class="@ConfigMenu.ActviedMenu("GiftOpenCondTypeIndex", url)"><a href="/Admin/GiftOpenCondType/Index"><i class="fa fa-circle-o"></i>Gift Open Cond Type</a></li>
                            <li class="@ConfigMenu.ActviedMenu("GiftRewardTypeIndex", url)"><a href="/Admin/GiftRewardType/Index"><i class="fa fa-circle-o"></i>Gift Reward Type</a></li>
                            <li class="@ConfigMenu.ActviedMenu("SimilarGiftTypeIndex", url)"><a href="/Admin/SimilarGiftType/Index"><i class="fa fa-circle-o"></i>Similar Gift Type</a></li>
                            <li class="@ConfigMenu.ActviedMenu("UserGiftStatusIndex", url)"><a href="/Admin/UserGiftStatus/Index"><i class="fa fa-circle-o"></i>UserGiftStatus</a></li>

                        </ul>
                    </li>
                    <li class="treeview @ConfigMenu.ActviedMenu("Config", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Config</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("ConfigClientConfig", url)"><a href="/Admin/ClientConfig/Index"><i class="fa fa-circle-o"></i>Client Config</a></li>
                            <li class="@ConfigMenu.ActviedMenu("ConfigAPIConfig", url)"><a href="/Admin/ApiConfig/Index"><i class="fa fa-circle-o"></i>API Config</a></li>
                            <li class="@ConfigMenu.ActviedMenu("PrivacySetting", url)"><a href="/Admin/PrivacySetting/Index"><i class="fa fa-circle-o"></i>Privacy Setting</a></li>
                            <li class="@ConfigMenu.ActviedMenu("APIParameter", url)"><a href="/Admin/APIParameter/Index"><i class="fa fa-circle-o"></i>API Parameter</a></li>
                        </ul>
                    </li>
                    <li class="treeview @ConfigMenu.ActviedMenu("Challenge", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Challenge</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">

                            <li class="@ConfigMenu.ActviedMenu("ChallengeTypeIndex", url)"><a href="/Admin/ChallengeType/Index"><i class="fa fa-circle-o"></i>Challenge</a></li>
                            <li class="@ConfigMenu.ActviedMenu("ChallengeCompleteCondTypeIndex", url)"><a href="/Admin/ChallengeCompleteCondType/Index"><i class="fa fa-circle-o"></i>ChallengeCompleteCondType</a></li>


                        </ul>
                    </li>

                    <li class="treeview @ConfigMenu.ActviedMenu("Post", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Post User</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("PostIndex", url)"><a href="/Admin/Post/Index"><i class="fa fa-circle-o"></i>Post</a></li>
                        </ul>
                    </li>

                    <li class="treeview @ConfigMenu.ActviedMenu("Season", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Season</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("SeasonIndex", url)"><a href="/Admin/Season/Index"><i class="fa fa-circle-o"></i>Season</a></li>
                            <li class="@ConfigMenu.ActviedMenu("SeasonRankingTypeIndex", url)"><a href="/Admin/SeasonRankingType/Index"><i class="fa fa-circle-o"></i>SeasonRankingType</a></li>

                        </ul>
                    </li>

                    <li class="treeview @ConfigMenu.ActviedMenu("Ads", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Ads</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("AdsTypeIndex", url)"><a href="/Admin/AdsType/Index"><i class="fa fa-circle-o"></i>Ads Type</a></li>
                        </ul>
                    </li>

                    <li class="treeview @ConfigMenu.ActviedMenu("Acitvity", url)">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Management Activity</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@ConfigMenu.ActviedMenu("AccountActivityIndex", url)"><a href="/Admin/AccountActivity/Index"><i class="fa fa-circle-o"></i>Account Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("AdsActivityIndex", url)"><a href="/Admin/AdsActivity/Index"><i class="fa fa-circle-o"></i>Ads Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("ChallengeActivityIndex", url)"><a href="/Admin/ChallengeActivity/Index"><i class="fa fa-circle-o"></i>Challenge Activity </a></li>
                            <li class="@ConfigMenu.ActviedMenu("CommunityActivityIndex", url)"><a href="/Admin/CommunityActivity/Index"><i class="fa fa-circle-o"></i>Community Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("DistanceActivityIndex", url)"><a href="/Admin/DistanceActivity/Index"><i class="fa fa-circle-o"></i>Distance Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("StepActivityIndex", url)"><a href="/Admin/StepActivity/Index"><i class="fa fa-circle-o"></i>Step Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("IgoldActivityIndex", url)"><a href="/Admin/IgoldActivity/Index"><i class="fa fa-circle-o"></i>Gold Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("JourneyActivityIndex", url)"><a href="/Admin/StepActivity/Index"><i class="fa fa-circle-o"></i>Journey Activity</a></li>
                            <li class="@ConfigMenu.ActviedMenu("GiftActivityIndex", url)"><a href="/Admin/GiftActivity/Index"><i class="fa fa-circle-o"></i>Gift Activity</a></li>


                        </ul>
                    </li>
                    @Html.Raw(ViewBag.MenuPermission)
                </ul>
                <br /><br /><br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div><!-- /.content-wrapper -->
    </div>

    <a id="yt-totop" title="Go to Top" style="display:none" class="backtotop" href="#"><i class="icon-angle-up"></i></a>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.2.0
        </div>
        <strong>Copyright &copy; 2016 <a href="#">ZIDO</a></strong> All rights reserved.
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modaltitle"></h4>
                </div>
                <div class="modal-body text-center" id="modalbody">
                    <p></p>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" id="btupdate" name="btupdate" class="btn btn-primary" style="display:none;">Cập nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/Library/Layout/Adm/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="/Library/Layout/Adm/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>

    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
    <script src="/Library/Layout/Adm/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="/Library/Layout/Adm/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/Library/Layout/Adm/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="/Library/Layout/Adm/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="/Library/Layout/Adm/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="/Library/Layout/Adm/dist/js/app.min.js" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Library/Layout/Adm/dist/js/demo.js" type="text/javascript"></script>
    <!-- bootstrap-dialog -->
    <script src="~/Library/Layout/Adm/plugins/bootstrap-dialog/bootstrap-dialog.min.js" type="text/javascript"></script>

</body>
</html>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
            $('#yt-totop').show();
            $('#yt-totop').fadeIn(500);
        } else {
            $('#yt-totop').fadeOut(300);
            $('#yt-totop').hide();
        }
    });

    // Animate the scroll to top
    $('#yt-totop').click(function (event) {
        event.preventDefault();

        $('html, body').animate({ scrollTop: 0 }, 300);
    });
    $(document).ready(function () {
        $(".sidebar-menu li").on("click", function () {

            $(".sidebar-menu li").removeClass("active");
            $(this).addClass("active");
        });


    });


    $("#btnGoBack").click(function () {
        goBack();
    });
</script>
