﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model DistanceActivityModel
@{
    List<DistanceActivityModel> listData = ViewBag.listData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>DistanceActivity</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">DistanceActivity</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Username:</label>
                                    @Html.TextBoxFor(model => model.UserID, new { @class = "form-control", maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                    <input type="button" id="btnAdd" style="margin-top:24px;" class="btn btn-warning" value="Add" /> &nbsp;
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="filters">
                                        <th class="col-xs-1  text-center">STT</th>
                                        <th class="col-xs-2 text-center">UserID</th>
                                        <th class="col-xs-1 text-center">Distance</th>
                                        <th class="col-xs-2 text-center">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var countSTT = 0;}
                                    @foreach (var item in listData)
                                    {
                                        countSTT++;
                                        <tr>
                                            <td>@countSTT</td>
                                            <td><a href="@Url.Action("Update", new { id = @item.Id })">@item.UserID</a></td>
                                            <td align="center" class="center">@item.Distance</td>                                            
                                            <td align="center" width="100px">
                                                <a class="fa fa-fw fa-edit" href="/Admin/DistanceActivity/Update/@item.Id" title="Details"></a>
                                                <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/DistanceActivity/Delete?ID=' + @item.Id);" title="Delete"></a>
                                            </td>
                                        </tr>
                                                }
                                </tbody>
                            </table>
                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                                }
</section>

<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/DistanceActivity/Add";
    });

    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/DistanceActivity/Index");
        });
    }
</script>
