﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model GiftComponentTypeModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<GiftRewardTypeModel> listServices = ViewBag.listServices;
}
<section class="content-header">
    <h1>
        Add GiftComponentType
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Add GiftComponentType</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Add", "GiftComponentType", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label>LogicDesc</label>
                                @Html.TextBoxFor(model => model.LogicDesc, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.LogicDesc)
                            </div>
                            <div class="form-group">
                                <label>Reward</label>
                                @Html.TextBoxFor(model => model.Reward, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Reward)
                            </div>
                            <div class="form-group">
                                <label>FunctionName</label>
                                @Html.TextBoxFor(model => model.FunctionName, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.FunctionName)
                            </div>
                            <div class="form-group">
                                <label>ObtainingRate</label>
                                @Html.TextBoxFor(model => model.ObtainingRate, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.ObtainingRate)
                            </div>
                            <div class="form-group">
                                <label>GiftRewardType</label>
                                @{
                                    var dataProduct = new List<SelectListItem>();
                                    foreach (var item in listServices)
                                    {
                                        dataProduct.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString() });
                                    }
                                }
                                @Html.DropDownListFor(model => model.GiftRewardTypeID, new SelectList(dataProduct, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Add</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
