﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@{
    List<PrivacySettingModel> listData = ViewBag.listData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>PrivacySetting</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">PrivacySetting</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="button" id="btnAdd" style="margin-top:24px;" class="btn btn-warning" value="Add" /> &nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="col-xs-1 text-center">STT</th>
                                    <th class="col-xs-1 text-center">Name</th>
                                    <th class="col-xs-1 text-center">Description</th>
                                    <th class="col-xs-1 text-center">Status</th>
                                    <th class="col-xs-1 text-center">CreatedDate</th>
                                    <th class="col-xs-1 text-center">ModifiedDate</th>
                                    <th class="col-xs-1 text-center">DeletedDate</th>
                                    <th class="col-xs-1 text-center">ACTION</th>
                                </tr>
                                @{
                                    var countSTT = 0;
                                    if (listData != null)
                                    {
                                        foreach (var item in listData)
                                        {
                                            countSTT++;
                                            <tr>
                                                <td>@countSTT</td>
                                                <td><a href="@Url.Action("Update", new { id = @item.Id })">@item.Name</a></td>
                                                <td align="center" class="center">@item.Description</td>
                                                @{
                                                    if (@item.Status)
                                                    {
                                                        <td align="center" class="center">ON</td>
                                                    }
                                                    else
                                                    {
                                                        <td align="center" class="center">OFF</td>
                                                    }
                                                }
                                                @{
                                                    string createdDate = @item.CreatedDate != null ? @item.CreatedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    string modifiedDate = @item.ModifiedDate != null ? @item.ModifiedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    string deletedDate = @item.DeletedDate != null ? @item.DeletedDate.Value.ToString("dd/MM/yyyy") : string.Empty;

                                                    <td align="center" class="center">@createdDate</td>
                                                        <td align="center" class="center">@modifiedDate</td>
                                                        <td align="center" class="center">@deletedDate</td>
                                                }
                                                <td align="center" width="100px">
                                                    <a class="fa fa-fw fa-edit" href="/Admin/PrivacySetting/Update/@item.Id" title="Details"></a>
                                                    <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/PrivacySetting/Delete?ID=' + @item.Id);" title="Delete"></a>
                                                </td>
                                            </tr>
                                                        }
                                                    }
                                }
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                                    }
</section>

<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/PrivacySetting/Add";
    });

    function DeleteRow(urlRequest) {


        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/PrivacySetting/Index");
        });
    }

</script>
