﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AdminCPFeatureModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<AdminCPFeatureModel> listData = ViewBag.rootData;
}
<section class="content-header">
    <h1>
        Add AdminCPFeature
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Add AdminCPFeature</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Add", "AdminCPFeature", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label>Parent Type</label>
                                @{
                                    var data = new List<SelectListItem>();
                                    foreach (var item in listData)
                                    {
                                        data.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString() });
                                    }
                                    data.Insert(0, new SelectListItem { Text = "- Root -", Value = "0" });
                                }
                                @Html.DropDownListFor(model => model.ParentId, new SelectList(data, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Url</label>
                                @Html.TextBoxFor(model => model.Url, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Url)
                            </div>
                            <div class="form-group">
                                <label>IsActived</label>
                                @Html.DropDownListFor(model => model.IsActived, new List<SelectListItem>() { new SelectListItem() { Text = "On", Value = "True" }, new SelectListItem() { Text = "Off", Value = "False" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>IsDeleted</label>
                                @Html.DropDownListFor(model => model.IsDeleted, new List<SelectListItem>() { new SelectListItem() { Text = "On", Value = "True" }, new SelectListItem() { Text = "Off", Value = "False" } }, new { @class = "form-control" })
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Add</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
