﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model RewardItemCategoryModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<SystemGiftTypeModel> listData = ViewBag.listServices;
}
<section class="content-header">
    <h1>
        Add RewardItemCategory
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Add RewardItemCategory</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Add", "RewardItemCategory", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>SystemGiftTypeCodeID</label>
                                @{
                                    var data = new List<SelectListItem>();
                                    foreach (var item in listData)
                                    {
                                        data.Add(new SelectListItem { Text = item.Name, Value = item.CodeID.ToString() });
                                    }
                                }
                                @Html.DropDownListFor(model => model.ParentCategoryID, new SelectList(data, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>() { new SelectListItem() { Text = "On", Value = "True" }, new SelectListItem() { Text = "Off", Value = "False" } }, new { @class = "form-control" })
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Add</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
                                    }
</section>
