﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@{
    List<APIParameterModel> listData = ViewBag.listData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>APIParameter</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">APIParameter</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="button" id="btnAdd" style="margin-top:24px;" class="btn btn-warning" value="Add" /> &nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="col-xs-1 text-center">STT</th>
                                    <th class="col-xs-1 text-center">Name</th>
                                    <th class="col-xs-1 text-center">CodeID</th>
                                    <th class="col-xs-1 text-center">Description</th>
                                    <th class="col-xs-1 text-center">Ratio</th>
                                    <th class="col-xs-1 text-center">ACTION</th>
                                </tr>
                                @{
                                    var countSTT = 0;
                                    if (listData != null)
                                    {
                                        foreach (var item in listData)
                                        {
                                            countSTT++;
                                <tr>
                                    <td>@countSTT</td>
                                    <td><a href="@Url.Action("Update", new { CodeID = @item.CodeID })">@item.Name</a></td>
                                    <td align="center" class="center">@item.CodeID</td>
                                    <td align="center" class="center">@item.Description</td>
                                    <td align="center" class="center">@item.Ratio</td>
                                    <td align="center" width="100px">
                                        <a class="fa fa-fw fa-edit" href="/Admin/APIParameter/Update?CodeID=@item.CodeID" title="Details"></a>
                                        <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/APIParameter/Delete?CodeID=@item.CodeID');" title="Delete"></a>
                                    </td>
                                </tr>
                                        }
                                    }
                                }
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    }
</section>

<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/APIParameter/Add";
    });

    function DeleteRow(urlRequest) {


        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/APIParameter/Index");
        });
    }

</script>
