﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AccountInfoModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Add AccountInfo
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Add AccountInfo</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Add", "AccountInfo", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>UserName</label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", maxlength = 150, placeholder = "" })
                            </div>
                         
                            <div class="form-group">
                                <label>Gold</label>
                                @Html.TextBoxFor(model => model.Gold, new { @class = "form-control", maxlength = 5, placeholder = "" })
                            </div>
                            <div class="form-group">
                                <label>TotalSteps</label>
                                @Html.TextBoxFor(model => model.TotalSteps, new { @class = "form-control", maxlength = 5, placeholder = "" })
                            </div>
                            <div class="form-group">
                                <label>TotalDistance</label>
                                @Html.TextBoxFor(model => model.TotalDistance, new { @class = "form-control", maxlength = 5, placeholder = "" })
                            </div>
                            <div class="form-group">
                                <label>FullName</label>
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.FullName)
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                            <div class="form-group">
                                <label>Age</label>
                                @Html.TextBoxFor(model => model.Age, new { @class = "form-control", maxlength = 3, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Age)
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>() { new SelectListItem() { Text = "Male", Value = "1" }, new SelectListItem() { Text = "Female", Value = "2" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Birthday</label>
                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccessTokenExpired)
                            </div>
                            <div class="form-group">
                                <label>Height</label>
                                @Html.TextBoxFor(model => model.Height, new { @class = "form-control", maxlength = 6, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Height)
                            </div>
                            <div class="form-group">
                                <label>Weight</label>
                                @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", maxlength = 6, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Weight)
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                @Html.DropDownListFor(model => model.IsType, new List<SelectListItem>() { new SelectListItem() { Text = "Application", Value = "1" }, new SelectListItem() { Text = "Facebook", Value = "2" }, new SelectListItem() { Text = "Admin", Value = "3", Selected = true } }, new { @class = "form-control" })
                            </div>
                           
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Add</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>


