﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AccountInfoModel
@{
    List<AccountInfoModel> listData = ViewBag.listData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>AccountInfo</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">AccountInfo</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Username:</label>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>FullName:</label>
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", maxlength = 30 })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                    <input type="button" id="btAdd" style="margin-top:24px;" class="btn btn-warning" value="Add Account" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="col-xs-1  text-center">STT</th>
                                    <th class="col-xs-1 text-center">UserName</th>
                                    <th class="col-xs-1 text-center">Gold <a id="goldSort">&#128316;</a></th>
                                    <th class="col-xs-1 text-center">TotalSteps <a id="stepSort">&#128316;</a></th>
                                    <th class="col-xs-1 text-center">TotalDistance <a id="distanceSort">&#128316;</a></th>
                                    <th class="col-xs-1 text-center">FullName</th>
                                    <th class="col-xs-1 text-center">Age</th>
                                    <th class="col-xs-1 text-center">Gender</th>
                                    <th class="col-xs-1 text-center">Type</th>
                                    <th class="col-xs-1 text-center">AccessTokenExpired</th>
                                    <th class="col-xs-1 text-center">CreatedDate</th>
                                    <th class="col-xs-1 text-center">CreatedBy</th>
                                    <th class="col-xs-1 text-center">ModifiedDate</th>
                                    <th class="col-xs-1 text-center">ModifiedBy</th>
                                    <th class="col-xs-1 text-center">ACTION</th>
                                </tr>

                                @{var countSTT = 0;}
                                @foreach (var item in listData)
                                {
                                    countSTT++;
                                    <tr>
                                        <td>@countSTT</td>
                                        <td align="center" class="center">@item.UserName</td>
                                        <td align="center" class="center">@item.Gold</td>
                                        <td align="center" class="center">@item.TotalSteps</td>
                                        <td align="center" class="center">@item.TotalDistance</td>
                                        <td align="center" class="center">@item.FullName</td>
                                        <td align="center" class="center">@item.Age</td>
                                        @{
                                            if (@item.Gender == 1)
                                            {
                                                <td align="center" class="center">Male</td>
                                            }
                                            else
                                            {
                                                <td align="center" class="center">FeMale</td>
                                            }

                                            if (@item.IsType == 1)
                                            {
                                                <td align="center" class="center">Application</td>
                                            }
                                            else if (@item.IsType == 2)
                                            {
                                                <td align="center" class="center">Facebook</td>
                                            }
                                            else if (@item.IsType == 3)
                                            {
                                                <td align="center" class="center">Admin</td>
                                            }
                                            else
                                            {
                                                <td align="center" class="center">Unknown</td>
                                            }
                                        }
                                        @{
                                            string createdDate = @item.CreatedDate != null ? @item.CreatedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                            string modifiedDate = @item.ModifiedDate != null ? @item.ModifiedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                            string accessTokenExpired = @item.AccessTokenExpired != null ? @item.AccessTokenExpired.ToString("dd/MM/yyyy") : string.Empty;

                                            <td align="center" class="center">@accessTokenExpired</td>
                                            <td align="center" class="center">@createdDate</td>
                                            <td align="center" class="center">@item.CreatedBy</td>
                                            <td align="center" class="center">@modifiedDate</td>
                                            <td align="center" class="center">@item.ModifiedBy</td>
                                        }
                                        <td align="center" width="100px">
                                            <a class="fa fa-fw fa-edit" href="/Admin/AccountInfo/Update/@item.Id" title="Details"></a>
                                            <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/AccountInfo/Delete?ID=' + @item.Id);" title="Delete"></a>
                                        </td>
                                    </tr>
                                }



                            </table>
                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->

        </div>




    }
</section>

<script type="text/javascript">
    $('#btAdd').click(function () {
        window.location.href = "/Admin/AccountInfo/Add";
    });

    $('#goldSort').click(function () {
        window.location.href = "/Admin/AccountInfo/Index?GoldSort=Desc&Flags=0";
    });

    $('#stepSort').click(function () {
        window.location.href = "/Admin/AccountInfo/Index?StepSort=Desc&Flags=0";
    });

    $('#distanceSort').click(function () {
        window.location.href = "/Admin/AccountInfo/Index?DistanceSort=Desc&Flags=0";
    });

    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/AccountInfo/Index");
        });
    }
</script>

