﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model UserGiftModel
@{
    List<UserGiftModel> listData = ViewBag.listData;
    List<SimilarGiftTypeModel> listSimilar = ViewBag.listSimilar;
    List<SystemGiftTypeModel> listSystemGift = ViewBag.listSystemGift;
    List<SimilarGiftTypeModel> listSimilarFilter = ViewBag.ListFilterSimilarGift;
    List<SystemGiftTypeModel> listSystemGiftFilter = ViewBag.ListFilterSystemGift;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>UserGift</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">UserGift</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>SystemGiftType:</label>
                                    @{
                                        var systemGiftData = new List<SelectListItem>();
                                        foreach (var item in listSystemGift)
                                        {
                                            systemGiftData.Add(new SelectListItem { Text = item.Name, Value = item.CodeID.ToString() });
                                        }
                                        systemGiftData.Insert(0, new SelectListItem { Text = "- Please select SystemGiftType -", Value = "None" });
                                    }
                                    @Html.DropDownListFor(model => model.SystemGiftTypeCodeID, new SelectList(systemGiftData, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    @{
                                        var similarData = new List<SelectListItem>();
                                        foreach (var item in listSimilar)
                                        {
                                            similarData.Add(new SelectListItem { Text = item.Name, Value = item.CodeID.ToString() });
                                        }
                                        similarData.Insert(0, new SelectListItem { Text = "- Please select SimilarGiftType -", Value = "None" });
                                    }
                                    @Html.DropDownListFor(model => model.SimilarGiftTypeID, new SelectList(similarData, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="filters">
                                        <th class="col-xs-1  text-center">STT</th>
                                        <th class="col-xs-2 text-center">UserID</th>
                                        <th class="col-xs-1 text-center">SystemGiftType</th>
                                        <th class="col-xs-1 text-center">SimilarGiftType</th>
                                        <th class="col-xs-1 text-center">TotalSavingValue</th>
                                        <th class="col-xs-2 text-center">Status</th>
                                        <th class="col-xs-2 text-center">CreatedDate</th>
                                        <th class="col-xs-2 text-center">CreatedDateString</th>
                                        <th class="col-xs-2 text-center">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var countSTT = 0;}
                                    @foreach (var item in listData)
                                    {
                                        countSTT++;
                                        <tr>
                                            <td>@countSTT</td>
                                            <td align="center" class="center">@item.UserID</td>
                                            <td align="center" class="center">@listSystemGiftFilter[countSTT - 1].Name</td>
                                            <td align="center" class="center">@listSimilarFilter[countSTT - 1].Name</td>
                                            <td align="center" class="center">@item.TotalSavingValue</td>
                                            <td align="center" class="center">@item.Status</td>
                                            @{
                                                string createdDate = @item.CreatedDate != null ? @item.CreatedDate.ToString("dd/MM/yyyy") : string.Empty;

                                                <td align="center" class="center">@createdDate</td>
                                            }
                                            <td align="center" class="center">@item.CreatedDateString</td>
                                            <td align="center" width="100px">
                                                <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/UserGift/Delete?ID=' + @item.Id);" title="Delete"></a>
                                            </td>
                                        </tr>
                                                }
                                </tbody>
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                                }
</section>

<script type="text/javascript">
    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/UserGift/Index");
        });
    }
</script>
