﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model PostModel
@{
    List<PostModel> listData = ViewBag.listData;
    List<PostPicModel> listPostPic = ViewBag.ListFilterPostPic;
    List<PostVideoModel> listPostVideo = ViewBag.ListFilterPostVideo;
    List<HashtagModel> listHashtag = ViewBag.ListFilterHashtag;
    List<PostLikeModel> listPostLike = ViewBag.ListFilterPostLike;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Post</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Post</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Username:</label>
                                    @Html.TextBoxFor(model => model.UserID, new { @class = "form-control", maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="filters">
                                        <th class="col-xs-1  text-center">STT</th>
                                        <th class="col-xs-2 text-center">UserName</th>
                                        <th class="col-xs-1 text-center">Content</th>
                                        <th class="col-xs-1 text-center">LinkImage</th>
                                        <th class="col-xs-1 text-center">LinkVideo</th>
                                        <th class="col-xs-1 text-center">Hashtag</th>
                                        <th class="col-xs-1 text-center">LikeID</th>
                                        <th class="col-xs-1 text-center">CreatedDate</th>
                                        <th class="col-xs-1 text-center">ModifiedDate</th>
                                        <th class="col-xs-2 text-center">DeletedDate</th>
                                        <th class="col-xs-2 text-center">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var countSTT = 0;}
                                    @{var isImgFlags = false;}
                                    @{var isVideoFlags = false;}
                                    @foreach (var item in listData)
                                    {
                                        countSTT++;
                                        isVideoFlags = false;
                                        isImgFlags = false;
                                    <tr>
                                        <td>@countSTT</td>
                                        <td align="center" class="center">@item.UserID</td>
                                        <td align="center" class="center">@item.Content</td>
                                        @for (int i = 0; i < listPostPic.Count; i++)
                                        {
                                            if (item.Id == listPostPic[i].PostID)
                                            {
                                                <td align="center" class="center">@listPostPic[i].LinkImagesList</td>
                                                isImgFlags = true;
                                                break;
                                            }
                                            else
                                            {
                                                continue;
                                            }
                                        }
                                        @if (!isImgFlags)
                                        {
                                            <td align="center" class="center"></td>
                                        }
                                        @for (int i = 0; i < listPostVideo.Count; i++)
                                        {
                                            if (item.Id == listPostVideo[i].PostID)
                                            {
                                                <td align="center" class="center">@listPostVideo[i].LinkVideosList</td>
                                                isVideoFlags = true;
                                                break;
                                            }
                                            else
                                            {
                                                continue;
                                            }
                                        }
                                        @if (!isVideoFlags)
                                        {
                                            <td align="center" class="center"></td>
                                        }
                                        <td align="center" class="center">@listHashtag[countSTT - 1].Hashtag</td>
                                        <td align="center" class="center">@listPostLike[countSTT - 1].UserID</td>
                                        @{
                                            string createdDate = @item.CreatedDate != null ? @item.CreatedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                            string modifiedDate = @item.ModifiedDate != null ? @item.ModifiedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                            string deletedDate = @item.DeletedDate != null ? @item.DeletedDate.Value.ToString("dd/MM/yyyy") : string.Empty;

                                            <td align="center" class="center">@createdDate</td>
                                            <td align="center" class="center">@modifiedDate</td>
                                            <td align="center" class="center">@deletedDate</td>
                                        }
                                        <td align="center" width="100px">
                                            <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/Post/Delete?ID=' + @item.Id);" title="Delete"></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    }
</section>

<script type="text/javascript">
    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/Post/Index");
        });
    }
</script>
