﻿@using Prj.Irun.BusinessLogic.Models;
@model IEnumerable<SimilarGiftTypeModel>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th class="col-xs-1 text-center">
                <input type="checkbox" id="checkall" />
            </th>
            <th class="col-xs-1 text-center">STT</th>
            <th class="col-xs-1 text-center">Name</th>
            <th class="col-xs-1 text-center">SystemGiftType</th>
            <th class="col-xs-1 text-center">GiftOpenCondTypeCode</th>
            <th class="col-xs-1 text-center">Description</th>
            <th class="col-xs-1 text-center">CreatedRate</th>
            <th class="col-xs-1 text-center">ACTION</th>
        </tr>
        @{
            var countSTT = 0;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    countSTT++;
        <tr>
            @{
                if (@item.IsSelected)
                {
                    <td class="text-center"><input data-id="@item.CodeID" type="checkbox" value="@item.CreatedRate" name="type" class="checkrecord" checked /></td>
                }
                else
                {
                    <td class="text-center"><input data-id="@item.CodeID" type="checkbox" value="@item.CreatedRate" name="type" class="checkrecord" /></td>
                }
            }
            <td>@countSTT</td>
            <td align="center" class="center">@item.Name</td>
            <td align="center" class="center">@item.SystemGiftTypeCode</td>
            <td align="center" class="center">@item.GiftOpenCondTypeCode</td>
            <td align="center" class="center">@item.Description</td>
            <td align="center" class="center"><input type="number" min="1" max="100" maxlength="3" data-id="@item.CodeID" value="@item.CreatedRate" name="recordUpdate" class="textbox" onchange="changeHandler(this)" /></td>
            <td align="center" width="100px">
                <a class="fa fa-fw fa-edit details" data-name="@item.Name" data-id="@item.CodeID" href="javascript:void(0)" title="Details"></a>
                <a class="fa fa-trash-o" href="javascript:void(0)" onclick="DeleteRow('/Admin/SimilarGiftType/Delete?CodeID=@item.CodeID');" title="Delete"></a>
            </td>
        </tr>
                }
            }
        }
    </table>

    <div class="box-footer clearfix">
        @Html.Raw(ViewData["Page"])
    </div>
</div>

<script type="text/javascript">
    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/SimilarGiftType/Index");
        });
    }

    function changeHandler(val) {
        if (Number(val.value) > 100) {
            val.value = 100
        }
    }

    $('#checkall').click(function () {
        $(':checkbox.checkrecord').prop('checked', this.checked);
    });

    $(":checkbox").on("change", function () {
        $("#resultRate").val(function () {
            var x = document.getElementById("hidebtn");
            var y = document.getElementById("resultRate");
            var sum = 0;
            $(":checkbox:checked").each(function () {
                sum += ~~$(this).val();
            });
            if (sum == 100) {
                x.style.display = "block";
                y.style.color = "green";
            } else {
                x.style.display = "none";
                y.style.color = "red";
            }
            $('#resultRate').html(sum)
            return sum;
        });
    });

    $("#resultRate").val(function () {
        var x = document.getElementById("hidebtn");
        var y = document.getElementById("resultRate");
        var sum = 0;
        $(":checkbox:checked").each(function () {
            sum += ~~$(this).val();
        });
        if (sum == 100) {
            x.style.display = "block";
            y.style.color = "green";
        } else {
            x.style.display = "none";
            y.style.color = "red";
        }
        $('#resultRate').html(sum)
        return sum;
    });

    function showNotif(name) {
        var x = $(this);
        $('#idRecord').html(name)
        document.getElementById("notif").showModal();
    }

    $(".details").on('click', function () {
        var dataId = $(this).data('id');
        var isRequest = $("input[type=checkbox][data-id=" + dataId + "]").prop("checked");
        if (!isRequest) {
            window.location.href = "/Admin/SimilarGiftType/Update?CodeID=" + dataId;
        } else {
            var notif = $(this).data('name');
            showNotif(notif);
        }
    });
</script>