﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model SimilarGiftTypeModel
@{
    List<SimilarGiftTypeModel> listData = ViewBag.PartialList;
    List<SystemGiftTypeModel> listSystemGiftTypeData = ViewBag.listSystemGiftTypeData;
    List<SystemGiftTypeModel> listSystemGift = ViewBag.listSystemGift;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>SimilarGiftType</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">SimilarGiftType</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="form-group">
                            @Html.Raw(ViewBag.message)
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label style="margin-top:14px;"></label>
                                    @{
                                        var data = new List<SelectListItem>();
                                        foreach (var item in listSystemGift)
                                        {
                                            data.Add(new SelectListItem { Text = item.Name, Value = item.CodeID.ToString() });
                                        }
                                        data.Insert(0, new SelectListItem { Text = "- Please select SystemGiftType -", Value = "0" });
                                    }
                                    @Html.DropDownListFor(model => model.SystemGiftTypeCodeID, new SelectList(data, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <label></label>
                                    <input type="button" id="btnAdd" style="margin-top:24px;" class="btn btn-warning" value="Add" /> &nbsp;
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btUpdate" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Update" /> &nbsp;
                                </div>
                            </div>
                            <div class="col-lg-1" style="width:5%">
                                <div id="hidebtn" style="display: none;">
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Save" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label style="margin-top:24px;">Total CreatedRate: <span id="resultRate" style="color:red"> </span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="renderPartial" class="row">
                            @{Html.RenderPartial("_ListSimilarGiftType", listData); }
                        </div>
                        <div id="binddata" class="row">
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                }
</section>
<dialog id="notif">Sorry, this record "<b><span id="idRecord"></span></b>" currently selected, please do not update it!</dialog>
<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/SimilarGiftType/Add";
    });

    $('#SystemGiftTypeCodeID').change(function () {
        var groupId = $('#SystemGiftTypeCodeID').val();
        $.ajax({
            url: '/Admin/SimilarGiftType/getSimilarGiftType?SystemGiftTypeCodeID=' + groupId,
            dataType: "html",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $("#renderPartial").html("");
                $("#binddata").html(data);
            },
            error: function (xhr) {
                alert('Server error !');
            }
        });
    });
</script>
