﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model SimilarGiftTypeModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<SystemGiftTypeModel> listSystemGiftType = ViewBag.listSystemGiftType;
    List<GiftOpenCondTypeModel> listGiftOpenCondType = ViewBag.listGiftOpenCondType;
}
<section class="content-header">
    <h1>
        Update SimilarGiftType
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Update SimilarGiftType</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Update", "SimilarGiftType", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label>SystemGiftTypeCodeID</label>
                                @{
                                    var data = new List<SelectListItem>();
                                    foreach (var item in listSystemGiftType)
                                    {
                                        data.Add(new SelectListItem { Text = item.Name, Value = item.CodeID.ToString() });
                                    }
                                }
                                @Html.DropDownListFor(model => model.SystemGiftTypeCodeID, new SelectList(data, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>GiftOpenCondTypeCodeID</label>
                                @{
                                    var dataGift = new List<SelectListItem>();
                                    foreach (var item in listGiftOpenCondType)
                                    {
                                        dataGift.Add(new SelectListItem { Text = item.Name, Value = item.CodeID.ToString() });
                                    }
                                }
                                @Html.DropDownListFor(model => model.GiftOpenCondTypeCodeID, new SelectList(dataGift, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>GiftComponentType</label>
                                @Html.ListBoxFor(model => model.GiftComponentType, new MultiSelectList(ViewBag.listGiftComponentType, "CodeID", "Name"), new { @class = "form-control", multiple = "multiple" })
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", maxlength = 150, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                            <div>
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.CodeID)
                                @Html.HiddenFor(model => model.IsSelected)
                                @Html.HiddenFor(model => model.CreatedRate)
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Update</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#GiftComponentType').multiselect();
  });
</script>