﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AdminActivityModel
@{
    List<AdminActivityModel> listData = ViewBag.listData;
    List<AdminCpModel> dropdownData = ViewBag.ListDropdown;
    List<AdminCpModel> adminData = ViewBag.listAdminData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>AdminActivity</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">AdminActivity</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>UserID:</label>
                                    @{
                                        var data = new List<SelectListItem>();
                                        foreach (var item in dropdownData)
                                        {
                                            data.Add(new SelectListItem { Text = item.UserName, Value = item.Id.ToString() });
                                        }
                                        data.Insert(0, new SelectListItem { Text = "- Please select UserID -", Value = "0" });
                                    }
                                    @Html.DropDownListFor(model => model.AdminId, new SelectList(data, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="filters">
                                        <th class="col-xs-1  text-center">STT</th>
                                        <th class="col-xs-2 text-center">AdminId</th>
                                        <th class="col-xs-1 text-center">Code</th>
                                        <th class="col-xs-1 text-center">ObjectID</th>
                                        <th class="col-xs-1 text-center">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var countSTT = 0;}
                                    @foreach (var item in listData)
                                    {
                                        countSTT++;
                                    <tr>
                                        <td>@countSTT</td>
                                        <td align="center" class="center">@adminData[countSTT -1].UserName</td>
                                        <td align="center" class="center">@item.Code</td>
                                        <td align="center" class="center">@item.ObjectID</td>
                                        <td align="center" class="center">@item.Value</td>
                                    </tr>
                                                }
                                </tbody>
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                                }
</section>

<script type="text/javascript">
    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/AdminActivity/Index");
        });
    }
</script>
