﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model UserFollowModel
@{
    List<UserFollowModel> listData = ViewBag.listData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>UserFollow</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">UserFollow</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Username:</label>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="col-xs-1 text-center">STT</th>
                                    <th class="col-xs-1 text-center">UserName</th>
                                    <th class="col-xs-1 text-center">FollowedUser</th>
                                    <th class="col-xs-1 text-center">ACTION</th>
                                </tr>
                                @{
                                    var countSTT = 0;
                                    if (listData != null)
                                    {
                                        foreach (var item in listData)
                                        {
                                            countSTT++;
                                            <tr>
                                                <td>@countSTT</td>
                                                <td align="center" class="center">@item.UserName</td>
                                                <td align="center" class="center">@item.FollowedUserID</td>
                                                <td align="center" width="100px">
                                                    <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/UserFollow/Delete?ID=' + @item.Id);" title="Delete"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                    }
</section>

<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/UserFollow/Add";
    });

    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/UserFollow/Index");
        });
    }

</script>
