﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model RewardUserGiftModel
@{
    List<RewardUserGiftModel> listData = ViewBag.listData;
    List<GiftRewardTypeModel> listGiftRewardType = ViewBag.listGiftRewardType;
    List<UserGiftModel> listUserGift = ViewBag.listUserGift;
    List<GiftRewardTypeModel> listFilterGiftRewardType = ViewBag.ListFilterGiftRewardType;
    List<UserGiftModel> listFilterUserGift = ViewBag.ListFilterUserGift;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>RewardUserGift</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">RewardUserGift</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>GiftRewardType:</label>
                                    @{
                                        var giftRewardType = new List<SelectListItem>();
                                        foreach (var item in listGiftRewardType)
                                        {
                                            giftRewardType.Add(new SelectListItem { Text = item.Name, Value = item.Code.ToString() });
                                        }
                                        giftRewardType.Insert(0, new SelectListItem { Text = "- Please select GiftRewardType -", Value = "None" });
                                    }
                                    @Html.DropDownListFor(model => model.GiftRewardTypeCodeID, new SelectList(giftRewardType, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    @{
                                        var userGiftData = new List<SelectListItem>();
                                        foreach (var item in listUserGift)
                                        {
                                            userGiftData.Add(new SelectListItem { Text = item.UserID, Value = item.Id.ToString() });
                                        }
                                        userGiftData.Insert(0, new SelectListItem { Text = "- Please select UserGift -", Value = "0" });
                                    }
                                    @Html.DropDownListFor(model => model.UserGiftID, new SelectList(userGiftData, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="submit" id="btFilter" style="margin-top:24px;" name="submit" class="btn btn-primary filterable" value="Search" /> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="filters">
                                        <th class="col-xs-1  text-center">STT</th>
                                        <th class="col-xs-1 text-center">UserGift</th>
                                        <th class="col-xs-1 text-center">GiftRewardType</th>
                                        <th class="col-xs-1 text-center">Reward</th>
                                        <th class="col-xs-2 text-center">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var countSTT = 0;}
                                    @foreach (var item in listData)
                                    {
                                        countSTT++;
                                        <tr>
                                            <td>@countSTT</td>
                                            <td align="center" class="center">@listFilterUserGift[countSTT - 1].UserID</td>
                                            <td align="center" class="center">@listFilterGiftRewardType[countSTT - 1].Name</td>
                                            <td align="center" class="center">@item.Reward</td>
                                            <td align="center" width="100px">
                                                <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/RewardUserGift/Delete?ID=' + @item.Id);" title="Delete"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    }
</section>

<script type="text/javascript">
    function DeleteRow(urlRequest) {
        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/RewardUserGift/Index");
        });
    }
</script>
