﻿
@{
  
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <h1>DASHBOARD</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {


    }
</section>


