﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AdminCpModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        ChangePassword Admin
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">ChangePassword Admin</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("ChangePassword", "AdminCp", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>Old Password</label>
                                @Html.TextBoxFor(model => model.OldPwd, new { @class = "form-control", maxlength = 25, placeholder = "", @type = "password" })
                                @Html.ValidationMessageFor(model => model.OldPwd)
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                @Html.TextBoxFor(model => model.NewPwd, new { @class = "form-control", maxlength = 25, placeholder = "", @type = "password" })
                                @Html.ValidationMessageFor(model => model.NewPwd)
                            </div>
                            <div class="form-group">
                                <label>Repeat New Password</label>
                                @Html.TextBoxFor(model => model.ReTypePwd, new { @class = "form-control", maxlength = 25, placeholder = "", @type = "password" })
                                @Html.ValidationMessageFor(model => model.ReTypePwd)
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(model => model.UserName)
                                @Html.HiddenFor(model => model.FullName)
                                @Html.HiddenFor(model => model.Password)
                                @Html.HiddenFor(model => model.Email)
                                @Html.HiddenFor(model => model.IsLevel)
                                @Html.HiddenFor(model => model.bActived)
                                @Html.HiddenFor(model => model.bBlocked)
                                @Html.HiddenFor(model => model.CreatedDate)
                                @Html.HiddenFor(model => model.CreatedBy)
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Change Password</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
