﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AdminCpModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        Create Admin
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/DashBoard"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Create Admin</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("CreatedAdmin", "AdminCp", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>UserID</label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", maxlength = 25, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", maxlength = 50, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="form-group">
                                <label>FullName</label>
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", maxlength = 100, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.FullName)
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = 100, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                <label>Level</label>
                                @Html.DropDownListFor(model => model.IsLevel, new List<SelectListItem>() { new SelectListItem() { Text = "Admin", Value = "1" }, new SelectListItem() { Text = "Supervisior", Value = "2" }, new SelectListItem() { Text = "User", Value = "3" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div style="margin-left:20px;" class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.bActived, new { @checked = "checked" }) Actived &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; @Html.CheckBoxFor(model => model.bBlocked) Blocked
                                    </label>
                                </div>
                            </div>
                                                    
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Add</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
