﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@{
    List<AdminCpModel> listData = ViewBag.listData;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>List User</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/DashBoard"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">List User</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input type="button" id="btnAdd" style="margin-top:24px;" class="btn btn-warning" value="Add" /> &nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="col-xs-1 text-center">STT</th>
                                    <th class="col-xs-1 text-center">UserName</th>
                                    <th class="col-xs-1 text-center">FullName</th>
                                    <th class="col-xs-1 text-center">Email</th>
                                    <th class="col-xs-1 text-center">Level</th>
                                    <th class="col-xs-1 text-center">Actived</th>
                                    <th class="col-xs-1 text-center">Blocked</th>
                                    <th class="col-xs-1 text-center">CreatedBy</th>
                                    <th class="col-xs-1 text-center">CreatedDate</th>
                                    <th class="col-xs-1 text-center">ACTION</th>
                                </tr>
                                @{
                                    var countSTT = 0;
                                    if (listData != null)
                                    {
                                        foreach (var item in listData)
                                        {
                                            countSTT++;
                                            <tr>
                                                <td>@countSTT</td>
                                                <td><a href="@Url.Action("Update", new { id = @item.Id })">@item.UserName</a></td>
                                                <td align="center" class="center">@item.FullName</td>
                                                <td align="center" class="center">@item.Email</td>
                                                @{
                                                    if (@item.IsLevel == 1)
                                                    {
                                                        <td align="center" class="center">Admin</td>
                                                    }
                                                    else if (@item.IsLevel == 2)
                                                    {
                                                        <td align="center" class="center">Supervisior</td>
                                                    }
                                                    else if (@item.IsLevel == 3)
                                                    {
                                                        <td align="center" class="center">User</td>
                                                    }
                                                    else
                                                    {
                                                        <td align="center" class="center">Unknown</td>
                                                    }

                                                    if (@item.bActived)
                                                    {
                                                        <td align="center" class="center">ON</td>
                                                    }
                                                    else
                                                    {
                                                        <td align="center" class="center">OFF</td>
                                                    }

                                                    if (@item.bBlocked)
                                                    {
                                                        <td align="center" class="center">ON</td>
                                                    }
                                                    else
                                                    {
                                                        <td align="center" class="center">OFF</td>
                                                    }
                                                }
                                                <td align="center" class="center">@item.CreatedBy</td>
                                                @{
                                                    string createdDate = @item.CreatedDate != null ? @item.CreatedDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    <td align="center" class="center">@createdDate</td>
                                                }
                                                <td align="center" width="100px">
                                                    <a class="fa fa-fw fa-edit" href="/Admin/AdminCp/Update/@item.Id" title="Details"></a>
                                                    <a class="fa fa-fw fa-unlock-alt" href="/Admin/AdminCp/ChangePassword/@item.Id" title="Change Password"></a>
                                                    <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/AdminCp/Delete?ID=' + @item.Id);" title="Delete"></a>
                                                </td>
                                            </tr>
                                                        }
                                                    }
                                }
                            </table>
                            <div class="box-footer clearfix">
                                @Html.Raw(ViewData["Page"])
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
                                                    }
</section>

<script type="text/javascript">
    $('#btnAdd').click(function () {
        window.location.href = "/Admin/AdminCp/CreatedAdmin";
    });

    function DeleteRow(urlRequest) {


        DialogConfirm('Are you sure to delete ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/AdminCp/Index");
        });
    }

</script>
