﻿@using Prj.Irun.Utilities;
@using Prj.Irun.BusinessLogic.Models;
@model AdminCpModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        Update Admin
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Update Admin</li>
    </ol>
</section>

<section class="content">

    @using (Html.BeginForm("Update", "AdminCp", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=""></label>
                                @Html.Raw(ViewBag.message)
                            </div>
                            <div class="form-group">
                                <label>UserName</label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", maxlength = 25, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                <label>FullName</label>
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", maxlength = 100, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.FullName)
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = 30, placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                <label>Level</label>
                                @Html.DropDownListFor(model => model.IsLevel, new List<SelectListItem>() { new SelectListItem() { Text = "Admin", Value = "1" }, new SelectListItem() { Text = "Supervisior", Value = "2" }, new SelectListItem() { Text = "User", Value = "3" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Actived</label>
                                @Html.DropDownListFor(model => model.bActived, new List<SelectListItem>() { new SelectListItem() { Text = "On", Value = "true" }, new SelectListItem() { Text = "Off", Value = "false" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Blocked</label>
                                @Html.DropDownListFor(model => model.bBlocked, new List<SelectListItem>() { new SelectListItem() { Text = "On", Value = "true" }, new SelectListItem() { Text = "Off", Value = "false" } }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(model => model.CreatedDate)
                                @Html.HiddenFor(model => model.Password)
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-warning">Update</button> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
    }
</section>
